* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7c5a3bea;
}

canvas {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}